body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container-own {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    padding: 25px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h2 {
    color: #333;
}

.article {
    background: #e9ecef;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

h4 {
    margin: 0;
}

h4 a {
    text-decoration: none;
    color: #007bff;
}

h4 a:hover {
    text-decoration: underline;
}


/******/

.choose-button{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-weight: bolder;
}


.slide-button  {
    user-select: none;
    text-transform: capitalize;
    padding: 18px;
    cursor: pointer;
    /* box-shadow: rgb(8 4 0 / 6%) 0px 2px 4px 0px inset; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 15px;

    &:hover{
        background-color: #9bffaa;
        color: white;
    }
}


.active {
    background-color: green;
    color: white;
}